body {
  font-size: 14px;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  text-transform: uppercase;

  color: #000000;
  background-color: #ffffff;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 26px;
}

.h2_choose {
  font-size: 16px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 21px;
}

.h2_found {
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 26px;
}

.h2_reasons {
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 21px;
}

h3 {
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 21px;
}

.h2_intrested {
  font-size: 30px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 24px;
}

/*header сетка*/
.main-header {
  min-height: 56px;
}

.container {
  background: blue;
  width: 1056px;
  margin: 0 auto;
}
.main-nav {
  font-size: 0px;
}
.main-nav a{
  text-decoration: none;
  color: #000000;
  text-align: top;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  display: inline-block;
  height: 24px;
  padding: 16px 0;
  width: 128px;

  position:relative;
}

.main-nav a:nth-child(2) {
  margin-left: 113px;
  margin-right: 318px;
}

.main-nav a:last-child {
  margin-left: 113px;
  text-align: right;
}

.logo {
  position: absolute;
  left: 600px;
  width: 138;
  height: 70;
}

/*index ceтка*/




/*hotels ceтка*/
.find {
  background: url("img/background_hotel.jpg") center;
}

.sort {
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 218px;
}

.choose {
  display: flex;
  flex-direction: column;
}





/*footer*/
.footer {
  height: 120px;
  background-color: red;
}
