body {
  font-size: 14px;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  text-transform: uppercase;

  color: #000000;
  background-color: #ffffff;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 26px;
}

.h2-choose {
  font-size: 16px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 21px;
}

.h2-found {
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 26px;
}

.h2-reasons {
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 21px;
}

h3 {
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 21px;
}

.h2-intrested {
  font-size: 30px;
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  line-height: 24px;
}

/*header сетка*/
.main-header {
  min-height: 56px;
}

.container {
  width: 1056px;
  margin: 0 auto;
}
.main-nav {
  font-size: 0px;
}
.main-nav a{
  text-decoration: none;
  color: #000000;
  text-align: top;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  display: inline-block;
  height: 24px;
  padding: 16px 0;
  width: 128px;

  position:relative;
}

.main-nav a:nth-child(2) {
  margin-left: 113px;
  margin-right: 318px;
}

.main-nav a:last-child {
  margin-left: 113px;
  text-align: right;
}

.logo {
  position: absolute;
  left: 600px;
  width: 138;
  height: 70;
}

/*index ceтка*/




/*hotels ceтка*/

/*filter*/
.find {
  background: url("../img/background_hotel.jpg") center;
}

.filter {
  display: flex;
  flex-direction: row;
  height: 218px;
  color: #ffffff;
}

.choose {
  width: 254px;
}

.choose label{
  display: block;
  margin-bottom: 33px;
}

input[type="checkbox"]{
  display: none;
}

.h2-choose {
  margin-top: 30px;
}

.cost {
  margin-left: 220px;
  margin-right: 0px;
}

/*sort*/
.result {
  display: flex;
  flex-direction: column;
}

.sort {
  font-size: 0;
  height: 87px;
  border-bottom: 1px solid #cccccc;
}

.sort h2 {
  font-size: 21px;

  display: inline-block;
  width: 165px;
  margin-top: 31px;
  vertical-align: top;
}

.sort-options {
  font-size: 12px;
  line-height: 18px;

  display: inline-block;
  margin-top: 35px;
  vertical-align: top;
}

.sort span {
  margin-right: 39px;
}

.sort a {
  color: #cccccc;
  margin-right: 34px;
  text-decoration: none;
  border-bottom: 1px dotted #9ec5dd;
}

.sort-options .active {
  color: #9ec5dd;
  border-bottom: 0;
}

.cursor {
  background: red;
  display: inline-block;
  margin: 30px 458px;
  margin-right: 0px;
  width: 10px;
  height: 11px;
}

.up {
  background: url("../img/up.png") no-repeat;
}

.down {
  margin-left: 14px;
  background: url("../img/bl_down.png") no-repeat;
}

/*content*/
.hotel {
  height: 152px;
  border-bottom: 1px solid #cccccc;
  font-size: 0;
}

.hotel img {
  margin-top: 31px;
  margin-right: 31px;
}

.about-hotel {
  font-size: 14px;

  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
  width: 360px;
}

.about-hotel span {
  display: inline-block;
  width: 118px;
  margin-bottom: 17px;
}

.about-hotel a {
  text-decoration: none;
  padding: 4px 17px;
  color: #ffffff;
  font-weight: bold;
}

.about-hotel .button-blue {
  background-color: #81b3d2;
  margin-right: 7px;
}

.about-hotel .button-brown {
  background-color: #766357;
}

.hotel-rating {
  display: inline-block;
  font-size: 14px;
  color: #666666;
  text-align: top;
}

.hotel-rating .rating {
  background-color: #f2f2f2;
  padding: 3px 16px;
  margin-top: 94px;
  margin-left: 418px;
}

/*footer*/
.footer .container {
  height: 122px;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.visit-sedona {
  width: 328px;
}

.footer-copyright {
  width: 328px;
  background: white;
}
